.form-container {
    max-width: 400px;
    min-height: 400px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    padding: 15px;
    background-color: #e0e8e7;
}
input {
    border: none;
    background-color: rgb(249, 243, 243);
    width: 400px;
}
input:hover{
    background-color: rgb(249, 243, 243);
}
textarea {
    width: 400px;
    height: 100px;
    border-radius: 5px;
    border: none;
    background-color: rgb(249, 243, 243);
}
.cancel {
    position: absolute;
    margin-top: 29px;
    margin-left: 220px;
}
.save {
    position: absolute;
    margin-top: 22px;
    margin-left: 320px; 
}
.write_form {
    background-color: #e0e8e7;
    width: 500px;
    height: 400px;
    margin: auto;
    border-radius: 5px;
}